extends ../_blueprint/master.jade

block content

  h1.ex-title Stout Radio Buttons
  
  .ex-heading Simple Radio Buttons
  
  .ex.simple
    .ex-label simple

  .ex.group.last
    .ex-label group


    
  .ex-heading Radio Button Sizes
  p Radio buttons are available in a variety of sizes:
    
  .ex.size-tiny
    .ex-label tiny
    
  .ex.size-small
    .ex-label small

  .ex.size-normal
    .ex-label normal
    
  .ex.size-large
    .ex-label large
    
  .ex.size-huge
    .ex-label huge
    
  .ex.size-massive.last
    .ex-label massive



  .ex-heading Radio Button Styles
  p Radio buttons are available in a variety of different styles.
    
  .ex.type-default
    .ex-label default
    
  .ex.type-inverse
    .ex-label inverse

  .ex.type-primary
    .ex-label primary
    
  .ex.type-warn
    .ex-label warn
    
  .ex.type-danger
    .ex-label danger
