# Ignore transpiled source at project root.
/accordion
/button
/card
/checkbox
/colors
/common
/component
/console
/container
/content
/drawer
/dropdown
/fill
/group
/icons
/indicator
/ink
/interactive
/input
/mask
/modal
/pane
/placeholder
/popup
/progress
/radio-button
/radio-group
/select
/times
/toc
/toggle
/traits
/tree
/typography
/util
/validator
/vars
/whiteframe

# Ignore annoying OS X files.
.DS_Store

# Ignore debug and log files.
*.log

# Ignore IDE directories.
.idea

# Ignore compiled examples.
/example-compiled

# Ignore temporary directory.
/tmp

# Ignore lib directories.
node_modules
lib

# Ignore generated documentation, but keep the Groc template.
/docs
