//- https://thenounproject.com/ryo.sato.7127/icon/440771/
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-249 251 100 100" style="enable-background:new -249 251 100 100;" xml:space="preserve">
<path d="M-173.7,301c0,1.5-0.5,2.8-1.5,4.1l-35.9,43.6c-2.3,2.8-6.4,3.1-9,0.8c-2.6-2.3-3.1-6.4-0.8-9l32.6-39.5l-32.6-39.5c-2.3-2.8-1.8-6.7,0.8-9c2.8-2.3,6.7-1.8,9,0.8l35.9,43.6C-174.2,298.2-173.7,299.7-173.7,301z"/>
</svg>
