@import "~colors/default"
@import "~times/default"
@import "~cover/cover"

// Defines a "fillable" item which has a fill color as it's ::after pseudo
// element. When the `.sc-fill` class is attached to the element, it is filled
// with the background color, but when the class is removed it fades-out
// at the object's center.
%fillable
  $transition-time: $sui-transition-time-very-fast

  position: relative
  background-color: transparent
  color: transparent
  +transition(color $transition-time ease-in-out)

  &::after
    @extend %cover-parent-pseudo
    background-color: transparent
    z-index: -1
    height: 90%
    width: 90%
    left: 5%
    top: 5%
    border-radius: 10%
    +transition(all $transition-time ease-in-out)

  &.sc-fill::after
    color: white
    background-color: $sui-color-5
    height: 100%
    width: 100%
    left: 0
    top: 0
    border-radius: 0
