extends ../_blueprint/master.jade

block content

  h1.ex-title Popup
  
  .ex-heading Simple Popup
  
  .ex.simple
    .ex-label simple
    ui-button(type="primary", id="show-simple") Click to show Popup


  .ex-heading Attached to Draggable

  .ex.draggable
    .ex-label draggable
