@import "../_blueprint/master.sass"
@import "typography/fonts"

body
  +linear-gradient(to bottom, rgba(red, 0.2) 0, rgba(white, 0) 1px)
  background-color: transparent
  background-repeat: repeat-y
  background-size: 100% 1rem

// Generate classes to illustrate all fonts using the below loops.

$lvls: (alpha, beta, gamma, delta, epsilon, zeta)


// Display Fonts
@each $lvl in $lvls
  .font-display-#{$lvl}
    +font-display($lvl)


// Lead Paragraph Fonts
@each $lvl in $lvls
  .font-lead-#{$lvl}
    +font-lead($lvl)


// Body Fonts
@each $lvl in $lvls
  .font-body-#{$lvl}
    +font-body($lvl)


// Emphasis Fonts
@each $lvl in $lvls
  .font-emphasis-#{$lvl}
    +font-emphasis($lvl)


// Strong Fonts
@each $lvl in $lvls
  .font-strong-#{$lvl}
    +font-strong($lvl)


// Monospaced Paragraph Fonts
@each $lvl in $lvls
  .font-mono-#{$lvl}
    +font-mono($lvl)


// Caption Fonts
@each $lvl in $lvls
  .font-caption-#{$lvl}
    +font-caption($lvl)


// Lead Paragraph Fonts
@each $lvl in $lvls
  .font-control-#{$lvl}
    +font-control($lvl)
