@import "bourbon/bourbon"
@import "util/exports"
@import "util/transitioning"
@import "util/visibility"
@import "pane/pane"
@import "vars/component"
@import "vars/container"
@import "vars/modal"

+exports("modal/modal")

  $contents:  #{$prefix}#{$container-contents-class}
  $pane:      #{$prefix}#{$modal-class}
  $modal:     #{$prefix}#{$pane-class}

  .#{$pane}.#{$modal}
    background-color: white
    border-radius: 2px
    box-shadow: 0 0 20px rgba(black, 0.25)

    +transitioning-out
      +transition-duration($modal-trans-out-time)
      .#{$contents}
        +transition-duration($modal-trans-out-time * 0.5)

    +transitioning-in
      +transition-duration($modal-trans-in-time)
      .#{$contents}
        +transition-delay($modal-trans-in-time * 0.1)
        +transition-duration($modal-trans-in-time * 0.9)
