@import "bourbon/bourbon"
@import "util/exports"
@import "util/transitioning"
@import "util/visibility"
@import "vars/common"
@import "vars/modal"

+exports("modal/modal")
  %modal-expanded
    position: fixed
    width: 50%
    height: 50%
    left: 25%
    top: 25%
    z-index: 15000

  %modal-visible
    opacity: 1
    +transform(scale(1))

  %modal-hidden
    opacity: 0
    +transform(scale(0))

  .#{$prefix}#{$modal-class}
    @extend %modal-hidden
    background-color: orange

    +transitioning
      @extend %modal-expanded

    +transitioning-out
      +transition(all $modal-trans-out-time)

    +transitioning-in
      +transition(all $modal-trans-in-time)
      @extend %modal-visible

    +visible
      @extend %modal-expanded
      @extend %modal-visible
