extends ../_blueprint/master.jade

block content

  h1.ex-title Resizable
  
  .ex-heading Basic Resizable Element
  
  .ex.basic
    .ex-label basic resizable
    
    div#basic-resizable
      
      
  .ex-heading Min/Max Height and Width
  
  .ex.basic
    .ex-label min/max dimensions
    
    div#min-max-resizable
    
