@import "traits/affixable"
@import "util/component"
@import "util/transitioning"
@import "util/visibility"
@import "vars/component"
@import "vars/dropdown"



+exports('drop-down')

  +component($dropdown-tag)

  $dropdown: ".#{$prefix}#{$dropdown-class}"

  #{$dropdown}
    +hidden
      display: none
    +visible
      display: block
