@import "bourbon/bourbon"
@import "../colors/default"
@import "./fonts"
@import "util/exports"


+exports("typography/default/code")

  $bg: darken($color-bg, 5%)

  code
    +font-mono(gamma)
    color: lighten(black, 20%)
    background: $bg
    border: 1px solid darken($color-bg, 10%)
    border-radius: 3px
    -webkit-box-decoration-break: clone
    -moz-box-decoration-break: clone
    -ms-box-decoration-break: clone
    -o-box-decoration-break: clone
    box-decoration-break: clone
    font-size: 82%
    padding: 0 0.4em
    white-space: normal
    position: relative
    top: -0.1em
    text-shadow: 0 0 1px rgba(white, 0.7)
    line-height: 1.7em

  pre code
    +font-mono(gamma, 0, 0)
    display: block
    white-space: pre
    padding-left: rythm(0.5)
    padding-right: rythm(0.5)
    padding-bottom: rythm(0.5)
