@import "~vars/common"
@import "~colors/default"

$button-postfix: button
$button-padding: 1em 1.3em
$button-radius: 1px
$button-shadow-size: 8px
$button-label-transition-time: 300ms

$button-bg:     darken($sui-color-ifg, 1.5%)
$button-fg:     lighten($sui-color-fg, 5%)
$button-hover:  lighten($button-bg, 4%)
$button-focus:  darken($button-bg, 4%)
$button-ink:    darken($button-bg, 10%)
$button-shadow: rgba(black, 0.13)
$button-shadow-hover: rgba(black, 0.2)
$button-shadow-active: rgba(black, 0.3)
$button-shadow-focus: rgba(black, 0.25)

$button-inverse-bg:             darken($sui-color-ibg, 1.5%)
$button-inverse-fg:             lighten($sui-color-ifg, 5%)
$button-inverse-hover:          lighten($button-inverse-bg, 4%)
$button-inverse-focus:          darken($button-inverse-bg, 4%)
$button-inverse-ink:            darken($button-inverse-bg, 10%)
$button-inverse-shadow:         rgba(black, 0.13)
$button-inverse-shadow-hover:   rgba(black, 0.2)
$button-inverse-shadow-active:  rgba(black, 0.3)
$button-inverse-shadow-focus:   rgba(black, 0.25)

$button-primary-bg:     $sui-color-5
$button-primary-fg:     $sui-color-ifg
$button-primary-hover:  lighten($button-primary-bg, 4%)
$button-primary-focus:  darken($button-primary-bg, 10%)
$button-primary-ink:    $sui-color-3
$button-primary-shadow: rgba(black, 0.23)
$button-primary-shadow-hover: rgba(black, 0.2)
$button-primary-shadow-active: rgba(black, 0.55)
$button-primary-shadow-focus: rgba(black, 0.25)

$button-disabled-bg:     darken($sui-color-ifg, 5%)
$button-disabled-fg:     lighten($sui-color-fg, 55%)
