button.sc-fill  
  .sc-label
    if iconPosition == 'right' || iconPosition == 'bottom'
      | #{label}
    if svgIcon
      span.sc-icon.sc-svg-icon(class='sc-icon-#{iconPosition}')!= svgIcon 
    if iconPosition == 'left' || iconPosition == 'top'
      | #{label}
