extends ../_blueprint/master.jade

block content

  h1.ex-title Accordion
  
  .ex-heading Accordion
  
  .ex
    .ex-label tree
    ui-accordion
      ui-accordion-item
        ui-accordion-trigger
          a(href="#a") Item A
        ui-accordion-content
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc malesuada, lorem non hendrerit egestas, turpis enim fermentum felis, in tempor libero purus ut leo. Suspendisse varius interdum ante ut tincidunt. Maecenas mollis ipsum sed ipsum tincidunt, sit amet faucibus erat euismod. Nam odio sem, aliquam vitae vulputate non, venenatis quis dolor. Pellentesque id sodales magna. Etiam semper congue vulputate. Nulla facilisis feugiat facilisis. Suspendisse potenti. Mauris molestie odio a massa mollis, a aliquam nunc sodales. Maecenas consectetur mollis dolor, ac bibendum augue. Donec fermentum sem tortor, ac tincidunt lorem varius non. Sed varius ac sem at lobortis.
          p Fusce condimentum est ac risus dignissim rutrum. Vestibulum egestas sapien vitae scelerisque accumsan. Quisque condimentum venenatis purus, ut scelerisque purus commodo quis. Praesent sollicitudin eget tortor congue rhoncus. Etiam lacinia, arcu ut suscipit sagittis, tellus orci euismod ex, in suscipit velit nisi sed eros. Pellentesque a nibh lacus. Sed volutpat ac felis vitae tincidunt. Etiam a metus elit. Suspendisse non nisl vel magna euismod interdum sed nec erat. Fusce sem quam, euismod sed nisi quis, auctor maximus massa. Aliquam pharetra eu nisl a facilisis.
          img(src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150")
          p Phasellus pellentesque, felis a molestie pellentesque, erat lorem pharetra nulla, ut efficitur nisl sem et nibh. Aenean cursus tellus sit amet urna aliquam, et bibendum est ultricies. Quisque ac laoreet nulla. Donec porta risus tellus, nec placerat neque vestibulum sit amet. Sed mattis tortor bibendum sem euismod tempor. Pellentesque eget varius magna. Aliquam non neque leo. Vestibulum hendrerit ligula at tortor fermentum faucibus.
          p Donec id orci congue dui aliquam molestie at molestie ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod ornare sem, sit amet pharetra metus. Morbi auctor sapien eu libero ultricies, ac mollis eros sagittis. Praesent in tortor vitae ante congue blandit. Aliquam consequat fringilla turpis a convallis. Sed diam enim, sagittis et mi eget, mollis congue nisl. Sed laoreet est et magna tempor blandit. Donec lorem odio, tincidunt eget cursus tincidunt, imperdiet vel elit. Mauris varius lacus ante, nec laoreet tortor pulvinar venenatis. Vivamus mollis congue sem in congue. Vestibulum placerat eu tellus quis varius. Morbi mollis mauris ac nisl bibendum rutrum.
          p In consectetur enim quis purus placerat porttitor. Duis tempus augue at ipsum posuere, varius posuere turpis cursus. Nunc dapibus elit orci, at condimentum justo lobortis a. Nullam sem nisi, maximus at cursus ac, hendrerit porta mi. Pellentesque eget nisi in nibh tristique scelerisque a eget metus. Nulla finibus ultricies nisl vitae viverra. Donec imperdiet lectus lobortis risus porttitor sodales. Morbi nibh massa, suscipit sit amet arcu id, suscipit fermentum turpis. Nulla gravida, ex a hendrerit vestibulum, leo dolor tempor ante, vitae condimentum arcu augue at lectus. Duis iaculis at nibh vel congue. Sed porta lorem et mauris accumsan faucibus. Maecenas eu arcu quis ipsum tempus elementum sit amet eu urna. Donec ac lorem malesuada neque cursus sagittis a sit amet libero. Nulla vitae elementum sem.
      ui-accordion-item
        ui-accordion-trigger
          a(href="#a") Item A
        ui-accordion-content
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc malesuada, lorem non hendrerit egestas, turpis enim fermentum felis, in tempor libero purus ut leo. Suspendisse varius interdum ante ut tincidunt. Maecenas mollis ipsum sed ipsum tincidunt, sit amet faucibus erat euismod. Nam odio sem, aliquam vitae vulputate non, venenatis quis dolor. Pellentesque id sodales magna. Etiam semper congue vulputate. Nulla facilisis feugiat facilisis. Suspendisse potenti. Mauris molestie odio a massa mollis, a aliquam nunc sodales. Maecenas consectetur mollis dolor, ac bibendum augue. Donec fermentum sem tortor, ac tincidunt lorem varius non. Sed varius ac sem at lobortis.
      ui-accordion-item
        ui-accordion-trigger
          a(href="#a") Item A
        ui-accordion-content
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc malesuada, lorem non hendrerit egestas, turpis enim fermentum felis, in tempor libero purus ut leo. Suspendisse varius interdum ante ut tincidunt. Maecenas mollis ipsum sed ipsum tincidunt, sit amet faucibus erat euismod. Nam odio sem, aliquam vitae vulputate non, venenatis quis dolor. Pellentesque id sodales magna. Etiam semper congue vulputate. Nulla facilisis feugiat facilisis. Suspendisse potenti. Mauris molestie odio a massa mollis, a aliquam nunc sodales. Maecenas consectetur mollis dolor, ac bibendum augue. Donec fermentum sem tortor, ac tincidunt lorem varius non. Sed varius ac sem at lobortis.
          
