//- Tab content is inserted here.
div(class="#{viewClasses.tabsContainer}")
  div(class="#{viewClasses.tabHighlight}")
  ul(class="#{viewClasses.tabsList}")
      
  
//- Individual tab content is inserted as children of this element.
div(class="#{contentsContainerClass}")
