extends ../_blueprint/master.jade

block content

  h1.ex-title Stout Checkboxes
  
  .ex-heading Simple Checkbox
  p Blah blah.
  
  .ex.simple.last
    .ex-label simple
    
    
    
  .ex-heading Checkbox Sizes
  p Checkboxes are available in a variety of sizes:
    
  .ex.size-tiny
    .ex-label tiny
    
  .ex.size-small
    .ex-label small

  .ex.size-normal
    .ex-label normal
    
  .ex.size-large
    .ex-label large
    
  .ex.size-huge
    .ex-label huge
    
  .ex.size-massive.last
    .ex-label massive
