extends ../_blueprint/master.jade

block content

  ui-drawer This is the drawer's content.
    ui-tree
      
      ui-tree-item
        a(href="#a") Item A
        
        ui-tree
          - var i = 0
          while i++ < 10
            ui-tree-item: a(href="#a1") Item A.#{i}
          
          ui-tree-item
            a(href="#a3") Item A.3
            
            ui-tree
              ui-tree-item: a(href="#a31") Item A.3.1
              ui-tree-item: a(href="#a32") Item A.3.2
              ui-tree-item: a(href="#a33") Item A.3.3

  h1.ex-title Drawer
  
  .ex-heading Basic Drawer
  p ...
  
  .ex.basic
    .ex-label simple card
    
