@import "../_blueprint/wide.sass"
@import "../../drawer/drawer"
@import "../../button/button"
@import "../../tree/tree"

.ex
  width: auto
  margin-bottom: 0

.wrapper
  padding: 0

ui-drawer
  border-right: 1px solid #ddd
  min-width: 200px

ui-tree

  ui-tree-item
    margin: 0

    a
      text-decoration: none
      color: $color-fg
