@import "../_blueprint/wide.sass"
@import "../../drawer/drawer"
@import "../../button/button"
@import "../../tree/tree"

ui-tree
  background-color: #eee

  ui-tree-item
    margin: 0

    a
      text-decoration: none
      color: $color-fg
