extends ../_blueprint/master.jade

block content

  h1.ex-title Grid
  
  .ex-heading Basic Grid
  
  .ex.basic
    .ex-label basic grid
    
    ui-button#btn-add(size='tiny') Add Grid Item
    
    ui-button#btn-clear(size='tiny') Clear Grid
    
    ui-grid#basic-grid
    
