@import "../_blueprint/wide.sass"
@import "../../button/button"
@import "../../grid/grid"

ui-button
  margin-right: 0.5em

ui-grid
  margin-top: 1em
  min-height: 60px
  border: 1px dotted rgba(black, 0.4)
  position: relative

ui-grid-item
  display: block
  background: orange
  position: absolute
  outline: 1px solid black
  font-size: 8px
  +transition(left 300ms, top 300ms, height 300ms, width 300ms)

  &.ui-dragging,
  &.ui-resizing
    +transition(none)

.ui-shadow
  position: absolute
  border: 2px dashed #ccc
  border-radius: 8px
  box-sizing: border-box
