@import "../_blueprint/master.sass"
@import "../../typography/default"
@import "../../tree/tree"

ui-tree
  //+transition(background 350ms)
  background-color: #eee

  ui-tree-item
    @extend %typography-body-1
    margin: 0

    a
      text-decoration: none
      color: $color-fg
