@import "bourbon/bourbon"
@import "util/exports"
@import "util/component"
@import "util/transitioning"
@import "vars/drawer"
@import "vars/component"
@import "vars/pane"
@import "whiteframe/whiteframe"
@import "pane/pane"

+exports("drawer/drawer")

  $drawer:          ".#{$prefix}#{$drawer-class}"
  $locked:          "#{$drawer}.#{$prefix}#{$drawer-locked-class}"

  $drawer-target:   ".#{$prefix}#{$drawer-target-class}"
  $drawer-parent:   ".#{$prefix}#{$drawer-parent-class}"

  $open:            "#{$drawer-target}.#{$prefix}#{$drawer-target-open-class}"
  $closed:          "#{$drawer-target}.#{$prefix}#{$drawer-target-closed-class}"
  $opening:         "#{$drawer-target}.#{$prefix}#{$drawer-target-opening-class}"
  $closing:         "#{$drawer-target}.#{$prefix}#{$drawer-target-closing-class}"

  $push-behavior:   "#{$drawer}.#{$prefix}open-behavior-push"

  +component($drawer-tag)

  #{$drawer}:not(.#{$prefix}#{$transitioning})
    +transition(box-shadow $pane-trans-in-time)

  #{$locked},
  #{$push-behavior}
    box-shadow: none

  #{$drawer-target}
    +transition-property(padding-top, padding-right, padding-bottom, padding-left, transform, -webkit-transform, -o-transform, -ms-transform, -moz-transform)

  #{$drawer-parent}
    overflow-x: hidden
    max-width: 100%

  #{$open},
  #{$opening}
    +transition-duration($pane-trans-in-time)
    +transition-timing-function($ease-in-out-cubic)

  #{$closing}
    +transition-duration($pane-trans-out-time)
    +transition-timing-function($ease-in-out-cubic)
