// -- Base Variables --
$font-root: 1rem;



// -- Font Imports -- TODO: Move these someplace else?
@import "https://fonts.googleapis.com/css?family=Roboto:400,500,700,900,300";


// -- Font Stacks --

$font-stack-default:     Roboto, Helvetica, Arial, sans-serif;
$font-stack-mono:        'Andale Mono', AndaleMono, 'Lucida Console', 'Lucida Sans Typewriter', monospace;
$font-stack-emphasis:    Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;




// -- Specific Font Stacks --

$font-stack-display:     $font-stack-default;
$font-stack-lead:        $font-stack-default;
$font-stack-body:        $font-stack-default;
$font-stack-emphasis:    $font-stack-default;
$font-stack-strong:      $font-stack-default;
$font-stack-mono:        $font-stack-default;
$font-stack-caption:     $font-stack-default;
$font-stack-control:     $font-stack-default;



// -- Baseline Shifts --
$font-default-baseline-shift: 0.2;




// -- Display Fonts --

$font-display-alpha: (
  weight:         900,
  size:           +modular-scale(4, $font-root),
  family:         $font-stack-display,
  line-height:    3,
  top:            0,
);

$font-display-beta: (
  weight:         700,
  size:           +modular-scale(3, $font-root),
  family:         $font-stack-display,
  top:            0,
);

$font-display-gamma: (
  size:           +modular-scale(2, $font-root),
  family:         $font-stack-display,
);

$font-display-delta: (
  size:           +modular-scale(1, $font-root),
  family:         $font-stack-display,
);

$font-display-epsilon: (
  size:           +modular-scale(0, $font-root),
  family:         $font-stack-display,
);

$font-display-zeta: (
  size:           +modular-scale(-1, $font-root),
  family:         $font-stack-display,
);

$font-display: (
  alpha:        $font-display-alpha,
  beta:         $font-display-beta,
  gamma:        $font-display-gamma,
  delta:        $font-display-delta,
  epsilon:      $font-display-epsilon,
  zeta:         $font-display-zeta,
);




// -- Lead Fonts --

$font-lead-alpha: (
  weight:       700,
  size:         +modular-scale(2, $font-root),
  family:       $font-stack-lead,
);

$font-lead-beta: (
  size:         +modular-scale(2, $font-root),
  family:       $font-stack-lead,
);

$font-lead-gamma: (
  weight:       300,
  size:         +modular-scale(2, $font-root),
  family:       $font-stack-lead,
);

$font-lead-delta: (
  weight:       700,
  size:         +modular-scale(1, $font-root),
  family:       $font-stack-lead,
);

$font-lead-epsilon: (
  size:         +modular-scale(1, $font-root),
  family:       $font-stack-lead,
);

$font-lead-zeta: (
  weight:       300,
  size:         +modular-scale(1, $font-root),
  family:       $font-stack-lead,
);

$font-lead: (
  alpha:        $font-lead-alpha,
  beta:         $font-lead-beta,
  gamma:        $font-lead-gamma,
  delta:        $font-lead-delta,
  epsilon:      $font-lead-epsilon,
  zeta:         $font-lead-zeta,
);



// -- Body Fonts --

$font-body-alpha: (
  weight:       700,
  size:         +modular-scale(1, $font-root),
  family:       $font-stack-body,
);

$font-body-beta: (
  size:         +modular-scale(1, $font-root),
  family:       $font-stack-body,
);

$font-body-gamma: (
  size:         +modular-scale(0, $font-root),
  family:       $font-stack-body,
);

$font-body-delta: (
  weight:       300,
  size:         +modular-scale(0, $font-root),
  family:       $font-stack-body,
);

$font-body-epsilon: (
  size:         +modular-scale(-1, $font-root),
  family:       $font-stack-body,
);

$font-body-zeta: (
  weight:       300,
  size:         +modular-scale(-1, $font-root),
  family:       $font-stack-body,
);

$font-body: (
  alpha:        $font-body-alpha,
  beta:         $font-body-beta,
  gamma:        $font-body-gamma,
  delta:        $font-body-delta,
  epsilon:      $font-body-epsilon,
  zeta:         $font-body-zeta,
);



// -- Emphasis Fonts --

$font-emphasis-alpha: (
  size:         +modular-scale(0, $font-root),
  family:       $font-stack-emphasis,
);

$font-emphasis-beta: (
  size:         +modular-scale(0, $font-root),
  family:       $font-stack-emphasis,
);

$font-emphasis-gamma: (
  size:         +modular-scale(0, $font-root),
  family:       $font-stack-emphasis,
);

$font-emphasis-delta: (
  size:         +modular-scale(0, $font-root),
  family:       $font-stack-emphasis,
);

$font-emphasis-epsilon: (
  size:         +modular-scale(0, $font-root),
  family:       $font-stack-emphasis,
);

$font-emphasis-zeta: (
  size:         +modular-scale(0, $font-root),
  family:       $font-stack-emphasis,
);

$font-emphasis: (
  alpha:        $font-emphasis-alpha,
  beta:         $font-emphasis-beta,
  gamma:        $font-emphasis-gamma,
  delta:        $font-emphasis-delta,
  epsilon:      $font-emphasis-epsilon,
  zeta:         $font-emphasis-zeta,
);



// -- Strong Fonts --

$font-strong-alpha: (
  size:         +modular-scale(0, $font-root),
  family:       $font-stack-strong,
);

$font-strong-beta: (
  size:         +modular-scale(0, $font-root),
  family:       $font-stack-strong,
);

$font-strong-gamma: (
  size:         +modular-scale(0, $font-root),
  family:       $font-stack-strong,
);

$font-strong-delta: (
  size:         +modular-scale(0, $font-root),
  family:       $font-stack-strong,
);

$font-strong-epsilon: (
  size:         +modular-scale(0, $font-root),
  family:       $font-stack-strong,
);

$font-strong-zeta: (
  size:         +modular-scale(0, $font-root),
  family:       $font-stack-strong,
);

$font-strong: (
  alpha:        $font-strong-alpha,
  beta:         $font-strong-beta,
  gamma:        $font-strong-gamma,
  delta:        $font-strong-delta,
  epsilon:      $font-strong-epsilon,
  zeta:         $font-strong-zeta,
);



// Monospaced Fonts;

$font-mono-alpha: (
  size:         +modular-scale(0, $font-root),
  family:       $font-stack-mono,
);

$font-mono-beta: (
  size:         +modular-scale(0, $font-root),
  family:       $font-stack-mono,
);

$font-mono-gamma: (
  size:         +modular-scale(0, $font-root),
  family:       $font-stack-mono,
);

$font-mono-delta: (
  size:         +modular-scale(0, $font-root),
  family:       $font-stack-mono,
);

$font-mono-epsilon: (
  size:         +modular-scale(0, $font-root),
  family:       $font-stack-mono,
);

$font-mono-zeta: (
  size:         +modular-scale(0, $font-root),
  family:       $font-stack-mono,
);

$font-mono: (
  alpha:        $font-mono-alpha,
  beta:         $font-mono-beta,
  gamma:        $font-mono-gamma,
  delta:        $font-mono-delta,
  epsilon:      $font-mono-epsilon,
  zeta:         $font-mono-zeta,
);



// -- Caption Fonts --

$font-caption-alpha: (
  size:         +modular-scale(0, $font-root),
  family:       $font-stack-caption,
);

$font-caption-beta: (
  size:         +modular-scale(0, $font-root),
  family:       $font-stack-caption,
);

$font-caption-gamma: (
  size:         +modular-scale(0, $font-root),
  family:       $font-stack-caption,
);

$font-caption-delta: (
  size:         +modular-scale(0, $font-root),
  family:       $font-stack-caption,
);

$font-caption-epsilon: (
  size:         +modular-scale(-1, $font-root),
  family:       $font-stack-caption,
);

$font-caption-zeta: (
  size:         +modular-scale(0, $font-root),
  family:       $font-stack-caption,
);

$font-caption: (
  alpha:        $font-caption-alpha,
  beta:         $font-caption-beta,
  gamma:        $font-caption-gamma,
  delta:        $font-caption-delta,
  epsilon:      $font-caption-epsilon,
  zeta:         $font-caption-zeta,
);



// -- Control Fonts --

$font-control-alpha: (
  size:         +modular-scale(0, $font-root),
  family:       $font-stack-control,
);

$font-control-beta: (
  size:         +modular-scale(0, $font-root),
  family:       $font-stack-control,
);

$font-control-gamma: (
  size:         +modular-scale(0, $font-root),
  family:       $font-stack-control,
);

$font-control-delta: (
  size:         +modular-scale(0, $font-root),
  family:       $font-stack-control,
);

$font-control-epsilon: (
  size:         +modular-scale(0, $font-root),
  family:       $font-stack-control,
);

$font-control-zeta: (
  size:         +modular-scale(0, $font-root),
  family:       $font-stack-control,
);

$font-control: (
  alpha:        $font-control-alpha,
  beta:         $font-control-beta,
  gamma:        $font-control-gamma,
  delta:        $font-control-delta,
  epsilon:      $font-control-epsilon,
  zeta:         $font-control-zeta,
);
