extends ../_blueprint/master.jade

block content

  // Unless otherwise specified (see below) all buttons feature active, hover,
  // | focus, and click events.

  h1.ex-title Stout Buttons
  
  .ex-heading Button Sizes
  p Buttons are available in six sizes, <code>tiny</code>, 
    | <code>small</code>, <code>normal</code>, <code>large</code>,
    | <code>huge</code>, and <code>massive</code>. 
  
  .ex.size-tiny
    .ex-label tiny
  
  .ex.size-small
    .ex-label small
      
  .ex.size-normal
    .ex-label normal  
    
  .ex.size-large
    .ex-label large

  .ex.size-huge
    .ex-label huge

  .ex.size-massive.last
    .ex-label massive

  
  

  .ex-heading Inverse Button
  p Inverse buttons can call contrast to something, or work well on inverted 
    | UI containers.

  .ex.inverse.last
    .ex-label inverse



  .ex-heading Flat Button
  p Buttons can also be flat styled.

  .ex.normal-flat
    .ex-label flat

  .ex.primary-flat
    .ex-label primary-flat

  .ex.inverse-flat
    .ex-label inverse-flat
          
  .ex.warn-flat
    .ex-label warn-flat
    
  .ex.danger-flat.last
    .ex-label danger-flat



  .ex-heading Primary Button
  p The primary button should be used to prominently feature the action which
    | the button initiates. The colors are drawn from the primary colors of 
    | the configured color scheme.

  .ex.primary.last
    .ex-label primary
      

  
  
  .ex-heading Warn Button
  p The warn button should be used when the action initiated by the button is
    | potentially dangerous, like deleting a record or launching a missile.

  .ex.warn.last
    .ex-label warn
    
    
  .ex-heading Danger Button
  p The danger button should only be used for potentially very dangerous 
    | actions, like deleting your account, or wiping a drive.

  .ex.danger.last
    .ex-label danger
  
  
    
  .ex-heading Disabled
  p All buttons share the same appearance when they are disabled.

  .ex.disabled-normal
    .ex-label disabled normal
    .subject
    .controls

  .ex.disabled-primary
    .ex-label disabled primary
    .subject
    .controls
    
  .ex.disabled-inverse.last
    .ex-label disabled inverse
    .subject
    .controls
    
  

  
  .ex-heading Show and Hide Behavior
  p Buttons can be dynamically shown or hidden using the <code>show()</code>
    | and <code>hide()</code> methods. Using the <code>fill</code> trait, 
    | we cleanly animate button's revealing.

  .ex.show-hide.last
    .subject
    .controls
