doctype html
html(lang="en")

  head
    meta(charset="utf-8")
    title Stout Component Examples
    meta(name="description", content="Stout Component examples.")
    meta(name="author", content="joshua.toenyes@me.com")
      
    link(rel='stylesheet', href='style.css') 
    block stylesheets

  body
    
    block content
  
    #demo
    
    script(src='main.js')
    block scripts
