@import "~typography/default.sass"

html
  text-align: center

body
  max-width: 42em
  margin: 0 auto 0
  text-align: left
  padding: 0 0.5em 2em

.sep
  margin: 4em 0
  height: 1px
  border: none

p.caption
  @extend %sui-typography-caption-1

p.body-2
  @extend %sui-typography-body-2

p.body-01
  @extend %sui-typography-body-01

.ex
  position: relative
  border-left: 1px solid #ddd
  padding-left: 1em

.ex-label
  @extend %sui-typography-caption-1
  opacity: 0.5
  position: absolute
  width: 100%
  height: 100%
  text-align: right
  left: -104%
  top: 0
  padding-right: 1em
  line-height: 145%
