// The viewport class defines

@import "bourbon/bourbon"
@import "placeholder/container"
@import "util/exports"
@import "vars/component"


+exports("placeholder/viewport")

  %viewport
    @extend %container
    height: 100%
    overflow: scroll
    -webkit-overflow-scrolling: touch
    width: 100%
