extends ../_blueprint/master.jade

block content

  h1.ex-title Card
  
  .ex-heading Basic Cards
  p Cards are basic interactive components. In essence, they define a single 
    | encapsulated piece of content.
  
  .ex.basic
    .ex-label simple card
    
    ui-card This is the card content!
    
    ui-card.hover-example Cards are interactive!
    
