doctype html
html(lang="en")

  head
    meta(charset="utf-8")
    title Stout Component Examples
    meta(name="description", content="Stout Component examples.")
    meta(name="author", content="joshua.toenyes@me.com")

  body
    block content
    script(src='entry.js')
