@import "../../util/reset"
@import "typography/default"
@import "placeholder/container"


$example-fg: #272f32

.wrapper
  @extend %container
  margin: 0 auto 0
  max-width: 62em
  min-height: 100vh
  padding: 0 10em
  text-align: left


h1.ex-title
  @extend %typography-display-5

p
  @extend %typography-body-1

code
  @extend %typography-pre-01

hr
  display: none
  border: none
  height: 1px
  background: lighten($example-fg, 70%)

.ex
  position: relative
  border-left: 1px solid #ddd
  padding-left: 1em
  margin-bottom: 1em

  &.last
    margin-bottom: 6em

.ex-heading
  @extend %typography-display-1
  color: lighten($example-fg, 10%)

.ex-label
  @extend %container
  @extend %typography-caption-1
  opacity: 0.5
  position: absolute
  width: 20rem
  text-align: right
  left: -20rem
  top: 0
  padding-right: 1em
  line-height: 145%

.controls .ui-button
  margin: 1em 0.5em 0 0
