@import "../../util/reset"
@import "placeholder/container"
@import "typography/fonts"

$example-fg: #272f32

.wrapper
  @extend %container
  margin: 0 auto 0
  max-width: 62em
  min-height: 100vh
  padding: 0 10em
  text-align: left


h1.ex-title
  +font-display(5)

p
  +font-body(3)

code
  +font-mono(1)

hr
  display: none
  border: none
  height: 1px
  background: lighten($example-fg, 70%)

.ex
  position: relative
  border-left: 1px solid #ddd
  padding-left: 1em
  margin-bottom: 1rem

  &:last-child,
  &.last
    margin-bottom: 6rem


.ex-heading
  +font-display(1)
  color: lighten($example-fg, 10%)

.ex-label
  @extend %container
  +font-caption(1)
  opacity: 0.5
  position: absolute
  width: 20rem
  text-align: right
  left: -20rem
  top: 0
  padding-right: 1em
  line-height: 145%
  display: none

.controls .ui-button
  margin: 1rem 0.5em 0 0
