@import "bourbon/bourbon"
@import "master.sass"

.wrapper
  max-width: 100%

.ex
  margin-left: 2em

.ex-label
  +transform(rotate(-90deg))
  +transform-origin(bottom left)
  position: absolute
  text-align: right
  left: -0.5em
  width: 200px
  top: 183px
  display: inline-block
  padding: 0
