@import "bourbon/bourbon"
@import "placeholder/viewport"
@import "util/exports"
@import "util/component"
@import "vars/component"
@import "vars/scrollable"


+exports("traits/scrollable")

  $scrollable:    ".#{$prefix}#{$scrollable-class}"
  $viewport:      ".#{$prefix}#{$scrollable-viewport-class}"
  $contents:      "#{$viewport} > .#{$prefix}contents"

  #{$contents}
    position: absolute
    left: 0
    top: 0
    height: 100%
    width: 100%

  #{$scrollable}

    &#{$viewport},
    #{$viewport}
      @extend %viewport

    #{$viewport}
      overflow: hidden
      position: absolute
