extends ../_blueprint/master.jade

block content

  h1.ex-title Stout Modal
  
  .ex-heading Modal Backdrop
  p The modal backdrop isolates the main application window, forcing the user
    | to switch their attention. The backdrop can be used independently via 
    | the <code>modal/backdrop</code> module.
  
  .ex.basic.last
    .ex-label backdrop
    .controls
  
  
  .ex-heading Modal Window
  p The standard modal window is just a plain floating window with.
  
  .ex.modal-window
    .ex-label modal window
    .controls
