extends ../_blueprint/master.jade

block content

  h1.ex-title Stout Modal
  
  .ex-heading Modal Backdrop
  p The modal backdrop isolutes the main window application, forcing the user
    | to switch their attention to the modal window. The backdrop can be used
    | independently using the <code>modal/backdrop</code> module.
  
  .ex.basic
    .ex-label backdrop
    .controls
  
