extends ../_blueprint/master.jade

block content

  h1.ex-title Draggable
  
  .ex-heading Drag Anywhere
  
  .ex.basic
    .ex-label draggable


  .ex-heading Axis Constrained
    
  .ex.axis-x
    .ex-label axis="x"
    
  .ex.axis-y
    .ex-label axis="Y"
