extends ../_blueprint/master.jade

block content

  h1.ex-title Pane
  
  .ex-heading Basic Pane
  p Panes can be used for generic window panes or application overlays, article
    | stacks, simulating page navigation, and more.
  
  .ex.basic.last
    .ex-label basic
    .controls


  .ex-heading Transitions
  p Panes support a variety of different transitions.
  
  .ex.transitions.last
    .ex-label transitions
    .controls


  .ex-heading Overlay Start
  p Overlay transitions can start from any ordinal direction.
  
  .ex.overlay-starts.last
    .ex-label transitions
    .controls


  .ex-heading Auto and Manual Sizing
  p Pane can be auto or manually sized to fit the content.

  .ex.sizing.last
    .ex-label sizing
    .controls
