@import "bourbon/bourbon"

// Class added to the root element of every component.
.sc-component
  +transition(opacity $sc-transition-time-slow)


// Class added element or parts of elements that should be hidden from view,
// but still occupy their height and width on the page.
.sc-hidden
  opacity: 0


///
// Prettifies the extending container's scrollbars.
//
//
%beautified-scrollbars
  &::-webkit-scrollbar
    width: 10px
    height: 10px

  &::-webkit-scrollbar-track
    opacity: 0.3

  &::-webkit-scrollbar-track:vertical
    background-color: $sc-color-bg-subtle
    border-left: 1px solid $sc-border-subtle

  &::-webkit-scrollbar-track:horizontal
    background-color: $sc-color-bg-subtle
    border-top: 1px solid $sc-border-subtle

  &::-webkit-scrollbar-corner
    background-color: $sc-color-bg-subtle
    border-left: 1px solid $sc-border-subtle
    border-top: 1px solid $sc-border-subtle

  &::-webkit-scrollbar-thumb
    background-color: $sc-border-subtle

  &::-webkit-scrollbar-thumb:hover
    background-color: $sc-color-fg-subtle
