@import "~bourbon/bourbon"
@import "~ink/fillable"
@import "~typography/default"
@import "./vars"
@import "~common/vars"
@import "~placeholder/inline-component"

.#{$prefix}button button
  @extend %inline-component
  @extend %sui-typography-control-1
  @extend %fillable
  outline: none
  border: none
  border-radius: $radius
  padding: $padding
  cursor: pointer
  position: relative
  overflow: hidden
  +user-select(none)

  .#{$prefix}label
    +transition(transform $transition-time)
    position: relative
    z-index: 10

  color: transparent

  &.#{$prefix}fill
    color: $fg

    &::after
      background-color: $bg

    &[disabled]
      cursor: default

      &::after
        background-color: $disabled-bg !important


  &:focus
    &.#{$prefix}fill::after
      background-color: $focus-bg


  &:hover
    &.#{$prefix}fill::after
      background-color: lighten($hover-bg, 10%)


  +transition(box-shadow 400ms)
  box-shadow: 1px 1px 8px transparent
  &:active:not([disabled])
    box-shadow: 1px 1px 8px rgba(black, 0.45)

  &:hover
    box-shadow: 1px 1px 8px rgba(black, 0.2)


/*.sc-button

  .sc-icon
    width: 1em
    height: 1em
    position: relative

    &.sc-icon-right, &.sc-icon-left
      display: inline-block

    &.sc-icon-right
      padding-left: modular-scale(-2)

    &.sc-icon-left
      padding-right: modular-scale(-2)

    &.sc-icon-top, &.sc-icon-bottom, &.sc-icon-center
      display: block
      text-align: center

    &.sc-icon-top
      padding-bottom: modular-scale(-2)

    &.sc-icon-bottom
      padding-top: modular-scale(-2)

  .sc-svg-icon

    &.sc-icon-top, &.sc-icon-bottom
      margin: 0 auto 0

    svg
      width: 100%
      height: 100%

      path, line, circle, ellipse, polyline, polygon
        stroke: $fg*/
