@import "~bourbon/bourbon"
@import "~colors/default"
@import "~ink/fillable"
@import "~util/exports"
@import "~typography/default"

+exports('button')

  $box-shadow-size: 0.3rem
  $fg: white
  $disabled-bg: $sui-color-1
  $bg: $sui-color-6
  $active-bg: $sui-color-5
  $focus-bg: $sui-color-7
  $hover-bg: $sui-color-7
  $radius: 0
  $padding: 1em 1.3em
  $transition-time: 300ms
  $box-shadow-size: 1px

  #{$all-buttons}
    @extend %sui-typography-control-1
    @extend %fillable
    outline: none
    border: none
    border-radius: $radius
    padding: $padding
    cursor: pointer
    position: relative
    overflow: hidden
    +transition(box-shadow $transition-time)
    +user-select(none)
    box-shadow: inset 0 0 $box-shadow-size transparent

    .sc-label
      +transition(transform $transition-time)

    &.sc-fill
      color: $fg

      &::after
        background-color: $bg
        +transition(background-color $transition-time)

      &[disabled]
        cursor: default

        &::after
          background-color: $disabled-bg !important


  #{$all-buttons-focus}
    &.sc-fill::after
      background-color: $focus-bg


  #{$all-buttons-hover}
    &.sc-fill::after
      background-color: $hover-bg


  #{$all-buttons-active}
    &:not([disabled])
      box-shadow: inset 0 0 $box-shadow-size black

      &.sc-fill::after
        background-color: $active-bg

  .sc-button

    .sc-icon
      width: 1em
      height: 1em
      position: relative

      &.sc-icon-right, &.sc-icon-left
        display: inline-block

      &.sc-icon-right
        padding-left: modular-scale(-2)

      &.sc-icon-left
        padding-right: modular-scale(-2)

      &.sc-icon-top, &.sc-icon-bottom, &.sc-icon-center
        display: block
        text-align: center

      &.sc-icon-top
        padding-bottom: modular-scale(-2)

      &.sc-icon-bottom
        padding-top: modular-scale(-2)

    .sc-svg-icon

      &.sc-icon-top, &.sc-icon-bottom
        margin: 0 auto 0

      svg
        width: 100%
        height: 100%

        path, line, circle, ellipse, polyline, polygon
          stroke: $fg
