@import "bourbon/bourbon"
@import "util/exports"
@import "typography/default"
@import "colors/default"
@import "vars/input"
@import "vars/component"

+exports("input/input")

  $label: #{$prefix}label

  #{$prefix}#{$input-tag}
    display: none
    &[rendered]
      display: block


  .#{$prefix}#{$input-class}
    margin-top: 1.3em

    .#{$label}
      @extend %typography-caption-01
      display: block
      +transform-origin(top left)
      +transition(all 230ms $ease-in-out-cubic)

    // When the input is empty, expand-down the label.
    &.#{$prefix}empty .#{$label}
      +transform(scale(1.176) translate(0.13em, 1.4em))

    input
      @extend %typography-body-1
      display: block
      margin: 0
      padding: 0.3em 0.1em 0.2em
      border: none
      border-bottom: 1px solid lighten($color-fg, 60%)
      width: 100%

    &, input, input:focus
      outline: none !important

    &.#{$prefix}focus
      .#{$label}
        +transform(scale(1) translate(0, 0))
